name: Build

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Install Build Dependencies
        run: |
          python -m pip install --upgrade pip build wheel

      - name: Build Wheel
        run: |
          python3 -m build

      - name: Archive wheel artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: |
            dist
