name: Test then Build

on:
  workflow_call:
  workflow_dispatch:
  push:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r mydnshost/requirements.txt

      # - name: Run Tests
      #   run: |
      #     python manage.py test

  build:
    uses: ./.github/workflows/build.yml
    needs: test
    secrets: inherit

  docker:
    uses: ./.github/workflows/docker-build-and-push.yml
    needs: test
    secrets: inherit
